

<!-- main app container -->
<div class="container">      <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
    <a class="navbar-brand" [routerLink]="['/']">Simply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" >Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/project/create']">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/task/create']">Tasks</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="60">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <alert></alert>
  <div style="margin-top: 20px">
      <router-outlet></router-outlet>
  </div>
  
</div>
