<div class="row">
        <div class="col-sm-5" >
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Profile</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.username}}</td>
                        <td>{{user.profile}}</td>
                        <td>
                            <span>
                                <button type="button" class="btn btn-info btn-rounded btn-sm my-0" (click)="detailUser(user._id)">D</button>
                            </span>
                        </td> 
                        <td>
                            <span class="table-remove">
                                <button type="button"class="btn btn-warning btn-rounded btn-sm my-0">T</button>
                            </span>
                        </td> 
                        <td>
                            <span class="table-remove">
                                <button type="button"class="btn btn-danger btn-rounded btn-sm my-0" (click)="deleteUser(user._id)">R</button>
                            </span>
                        </td> 
                        <td>
                            <span class="table-remove" *ngIf="user.profile == 'Collaborator'">
                                <button type="button" class="btn btn-info btn-rounded btn-sm my-0">Tasks</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-7">
           <app-user-detail [myNum]="number"></app-user-detail>
        </div>
    </div>