<div class="row  ml-1 mr-1" >
  <div class="col-sm-6 mt-2 div2" (click)="startLive()">     
    <div *ngIf="profile == 'Teacher'" >
      <video playsinline autoplay #teacherStreamingVideo class="embed-responsive video-fluid z-depth-1"></video>
    </div>

    <div *ngIf="profile == 'Student'">
      <video playsinline autoplay muted #studentStreamingVideo></video>
    </div>
  </div>
  <div class="col-sm-5 mt-2 ml-5 div2" >
    <div class="my-custom-scrollbar-chat">
        <div *ngFor="let item of messageArray" class="mt-2">
            <span><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" class="rounded-circle z-depth-0 mr-3" alt="avatar image" height="30" /> <strong>{{item.user}} : </strong> {{item.message}}</span>
        </div>
    </div>
  </div>
   <div class="input-group chat-box " >
      <input type="text" [(ngModel)]="messageText" class="form-control form-rounded" placeholder="Message ... " />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary form-rounded" type="button" (click)="sendMessage()" >Send</button>
      </div>
    </div>
</div>