<h2>Project creation</h2>
<form [formGroup]="projectCreationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="owner">Owner</label>
        <select formControlName="owner" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.owner.errors }" > 
            <option [value]="owner.username" *ngFor="let owner of owners"> {{owner.username}}</option>
        </select>
        <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
            <div *ngIf="f.owner.errors.required">Owner is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{project.name}}</td>
            <td>{{project.owner}}</td>
            <td>{{project.creationDate | date : 'yyyy-MM-dd' }}</td>
            <td>
                <span class="table-remove">
                    <button type="button"class="btn btn-danger btn-rounded btn-sm my-0" (click)="deleteProject(project._id)">Remove</button>
                </span>
            </td> 
        </tr>
    </tbody>
    
</table>
