<div class="row">
  <div class="col-sm-3">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" formControlName="name" class="form-control" placeholder="Group name"/>
        </div>
        
        <div class="btn-toolbar pull-right">
            <button [disabled]="loading" class="btn btn-black" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-4"></span> Create
            </button>
        </div>
      </form>
  </div>
</div>