<div class="row">
  <div class="col-sm-3">
    <div class="table-responsive">
      <table class="table">
        <tr> 
          <td>
            <div class="form-group">
              <input
                type="text"
                placeholder="Group name"
                formControlName="groupName"
                class="form-control"
              />
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <input
                type="text"
                placeholder="Search stundent"
                formControlName="firstname"
                class="form-control"
              />
            </div>
          </td>
        </tr>
       
        <tr>
          <div class="form-group">
            <td>
              <button [disabled]="loading" class="btn btn-primary">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Register
              </button>
              <button
                [disabled]="loading"
                class="btn btn-warning float-xl-left"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Modify
              </button>
            </td>
          </div>
        </tr>
        <tr>
            <td>
                <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="30"
              />
                <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="30"
              />
            </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-sm-2">
    <!--Table-->
    <div class="table-responsive">
      <table class="table">
        <!--Table body-->
        <tbody>
          <tr>
            <td>Bac (Modify)</td>
          </tr>
          <tr>
            <td>CM2</td>
          </tr>
          <tr>
            <td>Lycee 1</td>
          </tr>
          <tr>
            <td>Lycee 2</td>
          </tr>
          <tr>
            <td>Lycee Rabat</td>
          </tr>
          <tr>
            <td>Oranger CM2</td>
          </tr>
          <tr>
            <td>ECO MED5</td>
          </tr>
          <tr>
            <td>John</td>
          </tr>
          <tr>
            <td>Otto</td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
    </div>
    <!--Table-->
  </div>
  <div class="col-sm-4">
    <div class="table-responsive">
      <table class="table">
        <!--Table body-->
        <tbody>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-11.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-11.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-12.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-9.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="35"
              />
            </td>
            <td>
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                  height="35"
                />
              </td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
    </div>
  </div>
  <div class="col-sm-3">
     <table>
         <tr>
             <td></td>
             <td> 
                 <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                class="rounded-circle z-depth-0"
                alt="avatar image"
                height="60"
              /></td>
         </tr>
         <tr>
            <td>Abdelkarim</td>
        </tr>
        <tr>
            <td>LAHBABI</td>
        </tr>
        <tr>
            <td>lahbabi@gmail.com</td>
        </tr>
        <tr>
            <td>0877665346</td>
        </tr>
        <tr>
            <td>France</td>
        </tr>
     </table>
  </div>
</div>
