<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.profile}}</td>
            <td>
                <span class="table-remove">
                    <button type="button"class="btn btn-danger btn-rounded btn-sm my-0" (click)="deleteUser(user._id)">Remove</button>
                </span>
            </td> 
            <td>
                <span class="table-remove" *ngIf="user.profile == 'Collaborator'">
                    <button type="button" class="btn btn-info btn-rounded btn-sm my-0"  (click)="deleteUser(user._id)">Tasks</button>
                </span>
            </td>
        </tr>
    </tbody>
    
</table>